[문제1] pandas 라이브러리를 import 한다.

[문제2] 아래 data를 데이터프레임(df)으로 읽어들인다.

In [96]:
data = {
    '이름':['홍길동','심청이','강감찬'],
    '국어':[90, 100, 80],
    '영어':[95, 99, 85],
    '수학':[88, 95, 83],
    '사회':[99, 98, 70],
    '과학':[100, 70, 65]
    }
df = pd.DataFrame(data)
df

    이름   국어  영어  수학  사회   과학
0  홍길동   90  95  88  99  100
1  심청이  100  99  95  98   70
2  강감찬   80  85  83  70   65

[문제3] 모든 학생 이름을 출력한다.

[문제4] 모든 학생 이름과 국어점수를 출력한다.

[문제5] shape 속성을 이용해 df가 몇 차원 배일인지 출력한다.

[문제6] 데이터프레임(df)의 index를 '1번', '2번', '3번'으로 변경한다.

[문제7] 데이터프레임(df)의 index을 출력한다.

[문제8] 데이터프레임(df)의 index 칼럼 이름을 '학번'으로 설정한다.

[문제9] 데이터프레임(df)의 index 칼럼을 원래 값으로 초기화시키고 '학번'은 새로운 칼럼으로 변경한다.

[문제10] 데이터프레임(df)를 출력한다.

[문제11] 데이터프레임(df)에 추가했던 '학번' index 칼럼을 삭제한다.

[문제10] 데이터프레임(df)를 출력한다.

[문제11] 데이터프레임(df)의 index를 삭제하고 df에 바로 적용한다.

[문제12] 데이터프레임(df)를 출력한다.

[문제12] 데이터프레임(df)의 '이름' 칼럼을 index로 설정하고 바로 적용한다.

[문제13] 데이터프레임(df)에서 '이름' index를 기준으로 오름차순 정렬한다.

[문제13] 데이터프레임(df)에서 '이름' index를 기준으로 내림차순 정렬한다.

[문제14] 데이터프레임(df)을 새로 생성한다.

[문제15]데이터프레임(df)를 data폴더 아래 '성적.csv' 파일로 저장한다.

[문제16] 데이터프레임(df)를 tab으로 구분하여 data폴더 아래 '성적.txt' 파일로 저장한다.

[문제17] '성적.txt'파일을 tab으로 구분하여 읽어 데이터프레임(df)에 저장후 df를 출력한다.

[문제18] '성적.csv' 파일을 '학번'을 index로 읽어 데이터프레임(df)에 저장 후 df를 출력한다.

[문제19] 각종 계산이 가능한 열별로 평균, 표준편차 등의 정보를 출력한다.

[문제20] 데이터프레임(df)에서 처음 2행을 출력한다.

[문제21] 데이터프레임(df)에서 마지막 2행을 출력한다.

[문제22] 데이터프레임(df)의 칼럼이름을 출력한다.

[문제23] 데이터프레임(df)에서 '국어'점수의 최댓값을 출력한다.

[문제24] 데이터프레임(df)에서 '수학' 점수의 최소값을 출력한다.

[문제25] 데이터프레임(df)에서 학생수를 출력한다.