1)아래 셀을 실행한다.

In [1]:
import pandas as pd
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data, index=['1번','2번', '3번', '4번', '5번', '6번', '7번', '8번'])

2)데이터프레임(df)를 출력한다.

3)index 이름을 '지원번호'로 변경한다.

4)데이터프레임(df)를 출력한다.

5)데이터프레임(df)를 'data/score.csv'파일로 저장한다.

6)'지원번호'를 index 칼럼으로 지정하여 'data/score.csv' 파일을 읽는다.

7)데이터프레임(df)를 출력한다.

8)각종 계산이 가능한 열별로 데이터의 수, 평균, 표준편차, 최솟값, 최댓값 등의 정보를 보여준다.

9)데이터프레임(df)에서 각 열에 대한 데이터 타입을 확인한다.

10)데이터프레임(df)에서 처음 5행을 출력한다.

11)데이터프레임(df)에서 처음 4개의 행을 출력한다.

12)데이터프레임(df)에서 마지막 5개의 행을 출력한다.

13)데이터프레임(df)에서 마지막 6개의 행을 출력한다.

14)데이터프레임의(df)의 값들을 2차원 배열로 출력한다.

15)데이터프레임(df)의 index 정보를 출력한다.

16)데이터프레임(df)의 열 이름을 목록으로 출력된다.

17)데이터프레임(df)이 몇 개의 행과 열인지 출력한다.

18)Series(일차원 배열) 키에 대한 모든 정보(데이터수, 평균, 표준편차등)를 출력한다.

19)데이터프레임(df)에서 '키'열 데이터 중에서 최솟값을 출력한다.

20)데이터프레임(df)에서 '키'열 데이터 중에서 최댓값을 출력한다.

21)데이터프레임(df)에서 '키'가 큰사람 순서대로 3명의 데이터를 출력한다.

22)데이터프레임(df)에서 '키'열의 평균값을 출력한다.

23)데이터프레임(df)에서 모든 '키'열에 대한 합계를 출력한다.

24)데이터프레임(df)에서 'SW특기'가 있는 사람들이 몇 명인지 출력한다.

25)데이터프레임(df)에서 '학교'들을 중복 제거하고 출력한다.

26)데이터프레임(df)에서 데이터들이 전체 몇 개의 학교에 속해있는지를 출력한다.

27)데이터프레임(df)에서 모든 인덱스에 대하여 '이름'열 데이터를 출력한다.(기본선택)

28)데이터프레임(df)에서 모든 인덱스에 대한 '이름', '키'열을 2차원 배열로 출력한다.(기본선택)

29)데이터프레임(df)에서 마지막 열 이름을 출력한다.

30)데이터프레임(df)에서 마지막 열의 데이터를 출력한다.

31)데이터프레임(df)에서 '영어'열 '2번'~'5번'행 데이터를 출력한다.(기본선택)

32)데이터프레임(df)에서 '이름', '키'열을 인덱스 처음~'5번' 학생 데이터를 출력한다.(기본선택)

33)데이터프레임(df)에서 모든 열의 인덱스 '2번'~마지막 데이터를 출력한다.(기본선택)

34)데이터프레임(df)에서 인덱스가 '1번'에 해당하는 모든 열 데이터를 출력한다.(loc선택)

35)데이터프레임(df)에서 인덱스가 '1번'에 해당하는 '국어'열 데이터를 출력한다.(loc선택)

36)데이터프레임(df)에서 인덱스가 '1번', '2번'에 해당하는 '영어'열 데이터를 출력한다.(loc선택)

37)데이터프레임(df)에서 인덱스가 '1번', '3번', '5번'에 해당하는 '국어', '영어', '수학' 열 데이터를 출력한다.(loc선택)

38)데이터프레임(df)에서 '1번'~'5번' 인덱스, '국어'~'사회' 열까지 데이터를 출력한다.(loc선택)

39)데이터프레임(df)에서 index 0행의 모든 열 데이터를 출력한다.(iloc선택)

40)데이터프레임(df)에서 index 0~5행의 모든 열 데이터를 출력한다.(iloc선택)

41)데이터프레임(df)에서 index 0행(1번) 학생의 label 1열(학교) 데이터를 출력한다.(iloc선택)

42)데이터프레임(df)에서 index 0, 1행 학생의 label 2열(키) 데이터를 출력한다.(iloc선택)

43)데이터프레임(df)에서 index 0, 2, 4행 학생의 label 1, 3, 5열 데이터를 출력한다.(iloc선택)

44)데이터프레임(df)에서 index 0~6행 학생의 label 3~8열 데이터를 출력한다.(iloc선택)

45)데이터프레임(df)에서 마지막 학생의 모든열 데이터를 출력한다.(iloc선택)

46)데이터프레임(df)에서 학생들의 '키' 칼럼이 185 이상인 학생들의 모든 정보를 출력한다.

47)데이터프레임(df)에서 '키'가 185이상인 학생들의 이름, 수학, 과학 데이터를 출력한다.

48)데이터프레임(df)에서 185이상인 '북산고' 학생들 데이터를 출력한다.

49)데이터프레임(df)에서 '키'가 170보다 작거나 200보다 큰 학생 데이터를 출력한다.

50)데이터프레임(df)에서 성이 '송'인 데이터를 출력한다.

51)데이터프레임(df)에서 이름에 '태'가 들어가는 데이터를 출력한다.

52)데이터프레임(df)에서 이름에 '태'가 들어가는 사람을 제외하고 출력한다.

53)데이터프레임(df)에서 'SW특기'가 'Python'이거나 'Java'인 데이터를 출력한다.(isin 함수사용)

54)데이터프레임(df)에서 'SW특기'를 모두 소문자로 바꾼 후 소문자끼리 비교하여 데이터를 출력한다.

55)데이터프레임(df)에서 'SW특기'를 모두 대분자로 바꾼 후 대문자끼리 비교하여 데이터를 출력한다.