# 10.결측치

1)아래 셀을 실행한다.

In [106]:
import pandas as pd
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data, index=['1번','2번', '3번', '4번', '5번', '6번', '7번', '8번'])

2)데이터프레임(df)을 출력한다.

3)index 이름을 '지원번호'로 수정한 후 데이터프레임(df)를 출력한다.

4)데이터프레임(df)를 'data/score.csv'파일로 저장한다.

5)'지원번호'를 index 칼럼으로 지정 후 'data/score.csv' 파일을 읽어 데이터프레임(df)에 저장 후 출력한다.

6)데이터프레임(df)에서 'SW특기'열의 'NaN'값을 빈칸 ''으로 출력한다.

7)데이터프레임(df)에서 'SW특기'열의 'NaN'값을 '확인 중'으로 출력한다.

8)넘파이(numpy) 수학관련 라이브러리를 import 한다.

In [108]:
import numpy as np

9)데이터프레임(df)에서 '학교'열 전체를 'NaN'으로 채운 후 데이터프레임(df)를 출력한다.

10)데이터프레임(df)에서 '학교'열의 'NaN'값은 '무슨고', 'SW특기'열의 'NaN'값은 '없음'으로 출력한다.

11)'SW특기'열 'NaN'값을 '확인 중'으로 채워 저장후 데이터프레임(df)를 출력한다.

12)'지원번호'를 index 칼럼으로 지정하여 'data/score.csv' 파일을 읽어 데이터프레임(df)에 저장후 출력한다.

13)'5번' index, '학교' 열값을 'NaN'값으로 수정한 후 데이터프레임(df)를 출력한다.

14)'1번 'index, '학교' 열값을 'NaN'값으로 수정한 후 데이터프레임(df)를 출력한다.

15)'NaN'값을 바로 위의 값으로 출력한다.

16)'NaN'값을 바로 아래 값으로 출력한다.

17)데이터프레임(df)에서 전체 데이터 중에서 'NaN'을 포함하는 데이터를 제외하고 출력한다.

18)데이터프레임(df)에서 'NaN'이 하나라도 있는 인덱스 행을 제외하고 출력한다.

19)데이터프레임(df)에서 'NaN'이 하나라도 있는 칼럼을 제외하고 출력한다.

20)데이터프레임(df)에서 '9번 'index 행에 열값을 모두 'NaN'으로 채운 후 데이터프레임(df)를 출력한다.

21)데이터프레임(df)에서 새로운 '학년'열 모든 행에 'NaN'으로 채운 후 데이터프레임(df)를 출력한다.

22)데이터프레임(df)에서 열 데이터 전체가 'NaN'인 경우에만 열을 제외하고 출력한다.

23)데이터프레임(df)에서 index 행 데이터 전체가 'NaN'인 경우에만 행을 제외하고 출력한다.

# 11.데이터 정렬

1)'지원번호'를 index 칼럼으로 지정하여 'data/score.csv' 파일을 읽어 데이터프레임(df)에 저장후 출력한다.

2)데이터프레임(df)에서 '키' 기준으로 '오름차순' 정렬한다.

3)데이터프레임(df)에서 '키'가 큰 순으로 '내림차순' 정렬한다.

4)데이터프레임(df)에서 '수학', '영어' 점수 기준으로 '오름차순' 정렬한다.

5)데이터프레임(df)에서 '수학', '영어' 점수 기준으로 '내림차순' 정렬한다.

6)데이터프레임(df)에서 '수학' 점수는 '오름차순'으로,' 영어' 점수는 '내림차순'으로 정렬한다.

7)데이터프레임(df)에서 '키' 순으로 '오름차순' 정렬한 후 '키' 데이터만 출력한다.

8)데이터프레임(df)에서 '키' 순으로 '내림차순' 정렬한 후 '키' 데이터만 출력한다.

9)데이터프레임(df)에서 index(지원번호) 순으로 '오름차순' 정렬한다.

10)데이터프레임(df)에서 index(지원번호) 순으로 '내림차순' 정렬한다.

# 12.데이터 수정

1)'지원번호'를 index 칼럼으로 지정하여 'data/score.csv' 파일을 읽어 데이터프레임(df)에 저장후 출력한다.

In [112]:
df = pd.read_csv('../data/score.csv', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

2)데이터프레임(df)에서 학교 이름 '북산고'를 '상북고'로, '능남고'는 '무슨고'로 수정한다.

In [ ]:
df

3)데이터프레임(df)에서 'SW특기'를 모두 소문자로 바꾸어 'SW특기'열에 저장한다.

In [ ]:
df

4)데이터프레임(df)에서 'SW특기'를 첫 글자만 대문자로 바꾸어 'SW특기'열에 저장한다.

In [ ]:
df

5)데이터프레임(df)에서 '학교' 칼럼에 '등학교' 단어를 추가해 저장한다.

In [ ]:
df

6)데이터프레임(df)에서 모든 과목의 합계를 구하여 새로운 '총합' 열에 저장한다.

In [ ]:
df

7)데이터프레임(df)에서 '결과' 열을 추가하고 'Fail'값을 저장한다.

In [ ]:
df

8)데이터프레임(df)에서 '총합'이 400보다 큰 결과를 'Pass'로 저장한다.

In [ ]:
df

9)데이터프레임(df)에서 '총합' 열을 제외한 데이터를 출력한다.

10)데이터프레임(df)에서 '키', 'SW특기' 열을 제외한 데이터를 출력한다.

11)데이터프레임(df)에서 index '4번' 행을 제외한 데이터를 출력한다.

12)데이터프레임(df)에서 index 0~5 연속되는 행을 제외한 데이터를 출력한다.

13)데이터프레임(df)에서 '수학' 점수가 80점미만 데이터를 제외한 데이터를 출력한다.

14)데이터프레임(df)에서 '4번' 학생의 'SW특기'를 'Python'으로 변경한다.

In [ ]:
df

15)데이터프레임(df)에서 '5번' 학생의 학교는 '능남고등학교'로, 'SW특기'는 'C'로 변경한다.

In [ ]:
df

16)맨 뒤에 있는 '결과'열을 앞으로 가져오고, 나머지 열들과 합쳐서 순서를 변경한 후 새로운 데이터프레임(df1)를 만든다.

In [ ]:
df1

17)데이터프레임(df)에서 '결과', '이름', '학교' 열을 이용해 새로운 데이터프레임(df2)을 만든다.

In [ ]:
df2

18)데이터프레임(df2)의 열 이름을 'Result', 'Name', 'School'로 변경한다.

In [ ]:
df2