# 13.함수적용

1)강좌.csv 파일을 데이터프레임(df_cou) 변수에 저장후 출력한다.

2)수강.csv 파일을 데이터프레임(df_enrol) 변수에 저장후 출력한다.

3)강좌번호를 입력받아 이 강좌를 수강신청한 학생수를 구하는 함수(count_student)를 작성한다.

In [4]:
def count_student(code):
    return 0

4)데이터프레임(df_cou)의 새로운 컬럼 '수강인원수'에 위 함수(count_student)를 적용한 결과를 저장한다.

5)강좌번호를 입력받아 이 강좌의 평균 점수를 구하는 함수(avg_course)를 작성한다.

In [5]:
def avg_course(code):
    return 0

6)데이터프레임(df_cou)의 새로운 컬럼 '평균'에 위 함수(avg_course)를 적용한 결과를 저장한다.

7)학생.csv 파일을 데이터프레임(df_stu) 변수에 저장후 출력한다.

8)학생번호를 입력 받아 이 학생이 수강신청한 과목수를 구하는 함수(count_course)를 작성한다.

In [3]:
def count_course(code):
    return 0

9)데이터프레임(df_stu)의 새로운 컬럼 '수강과목수'에 위 함수(count_course)를 적용한 결과를 저장한다.

10)학생번호를 입력 받아 이 학생의 평균점수를 구하는 함수(avg_student)를 작성한다.

In [6]:
def avg_student(code):
    return 0

11)데이터프레임(df_stu)의 새로운 컬럼 '평균'에 위 함수(avg_student)를 적용한 결과를 저장한다.

# 14.데이터그룹화

1)아래 셀을 실행한다.

In [ ]:
import pandas as pd
data = {
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data, index=['1번','2번', '3번', '4번', '5번', '6번', '7번', '8번'])
df

2)index 이름을 '지원번호'로 수정한 후 데이터프레임(df)를 출력한다.

3)데이터프레임(df)를 'data/score.csv'파일로 저장한다.

4)'지원번호'를 index 칼럼으로 지정 후 'data/score.csv' 파일을 읽어 데이터프레임(df)에 저장 후 출력한다.

5)데이터프레임(df)에서 같을 '학교'별로 그룹화한 후 '능남고' 학생들만 출력한다.

6)데이터프레임(df)에서 '학교'별로 그룹화한 후 '키'의 평균값을 출력한다.

7)데이터프레임(df)에서 '학교'별로 그룹화한 후 '국어', '영어', '수학' 평균값을 출력한다.

8)데이터프레임(df)에 새로운 '학년' 칼럼을 추가하고 아래 새로운 데이터를 입력한다.

In [ ]:
df['학년'] = [3, 3, 3, 1, 1, 3, 2, 2]

9)데이터프레임(df)에서 '학교'별, '학년'별로 그룹화한 후 '키' 평균값을 출력한다.

10)데이터프레임(df)에서 '학년'별 그룹화한 후 '키'의 평균이 큰 순으로 '내림차순' 정렬한 결과를 출력한다.

11)'학교'별, '학년'별 그룹화한 후 '키'의 평균을 구해 index '학교' 오름차순, index '학년'는 내림차순으로 정렬한다.

12)데이터프레임(df)에서 '학교'별, '학년'별로 그룹화한 후 학생 수를 출력한다.

13)'학교'별 그룹화 한 후 'SW특기'별 학생 수를 출력한다. (value_counts()함수 사용)