# 14.데이터그룹화

In [1]:
import pandas as pd

1)강좌.csv 파일을 데이터프레임(df_cou) 변수에 저장후 출력한다.

2)학생.csv 파일을 데이터프레임(df_stu) 변수에 저장후 출력한다.

3)교수.csv 파일을 데이터프레임(df_pro) 변수에 저장후 출력한다.

4)수강.csv 파일을 데이터프레임(df_enrol) 변수에 저장후 출력한다.

5)데이터프레임(df_stu)에서 '학생학과'별로 그룹화를 한 후 '전산'과 학생들을 출력한다.

6)데이터프레임(df_stu)에서 '학생학과'별로 그룹화를 한 후 학과별 학생 수를 출력한다.

7)데이터프레임(df_stu)에서 '학생학과', '학년'별로 그룹화한 후 학생 수를 출력한다.

8)데이터프레임(df_enrol)에서 '강좌번호'별로 그룹화를 한 후 '점수'의 평균을 출력한다.

# 15.데이터병합

1)데이터프레임(df_pro)에서 '교수번호', '교수이름'열로 새로운 데이터프레임(df_pcode_pname)을 생성한다.

2)df_stu와 df_pcode_pname을 '지도교수'와 '교수번호'로 병합한 후 df_merge_stu에 저장 후 출력한다.

3)df_cou와 df_pcode_pname을 병합하여 '담당교수'와 '교수번호'로 병합한 후 df_merge_cou에 저장 후 출력한다.

4)df_enrol과 df_stu을 '학생번호'로 병합하여 df_merge에 저장 후 출력한다.

5)df_merge와 df_cou를 '강좌번호'로 병합하여 df_merge에 저장 후 출력한다.

6)df_merge에서 '학생번호', '학생이름'별로 그룹화한 후 학생들의 '수강과목수'를 출력한다.

7)df_merge에서 '학생번호', '학생이름'별로 그룹화한 후 학생들의 '평균'점수를 출력한다.

8)df_merge에서 '강좌번호', '강좌이름'별로 그룹화한 후 강좌들의 '수강인원수'를 출력한다.

7)df_merge에서 '강좌번호', '강좌이름'별로 그룹화한 후 강좌들의 '평균'점수를 출력한다.